body{
    font: normal 18pt arial;
    background-color: aqua;
}

header{
    text-align: center;
}

section{
    margin:auto;
    background-color:white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    
}

select#lista{
    width: 150px;
}

div#res{
    font-size: 18px;
    
}